html {
  scroll-behavior: smooth;
}

body {
  font-family: 'arial';
  font-size: 20px;
  letter-spacing: 1px;
}

header {
  font-family: 'arial black';
}

.logo {
  color: #FFF;
  width: 100vw;
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('header.jpeg');
  background-size: cover;
}

.logo-main {
  font-size: 8vw;
  margin-left: 5vw;
}

.logo-sub {
  font-size: 4vw;
  margin-left: 5vw;
}

/* headerここまで */

/* ここからメニューバー */

.menubar {
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.nav {
  width: 100vw;
  height: 13vh;
  min-height: 100px;
  background-color: #DDD;
  display: flex;
  position: absolute;   /* あとでfixedにできるようabsoluteで設置 */
  justify-content: center;
  align-items: center;
}

.nav.fixed {
  width: 100vw;
  height: 13vh;
  min-height: 100px;
  background-color: #DDD;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
}

.nav-item {
  font-size: 48px;
  padding: 20px 20px;
  margin: 0px 30px;
}

/* ここまでメニューバー */

/* ここから各セクション見出し */

.section-title {
  padding-top: calc( 13vh + 36px );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-sub {
  font-size: 15px;
}

.title-main {
  font-size: 48px;
  margin-bottom: 50px;
  font-family: 'arial black';
}

/* ここまで各セクション見出し */

/* ここからプロフィール */

.profile-main {
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  list-style: disc;
  padding-left: 40px;
}

.prof-img {
  margin-right: 30px;
}

.profile-item {
  margin-bottom: 10px; 
}

/* ここまでプロフィール */

/* ここからスキル */

.skill-main {
  display: flex;
  justify-content: center;
}

.skill-table {
  border: solid 1px #555;
  text-align: center;
}

th {
  background-color: #EEE;
}

th, td {
  width: 15vw;
  padding: 12px 15px; 
  letter-spacing: 1.2px;
  line-height: 27px;
}

.skill-level {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
}

.comment {
  font-size: 18px;
  width: 30vw;
}

.star-img {
  width: 80%;
  margin-right: 10px;
  object-fit: contain;
}

/* ここまでスキル */

/* ここから作ったもの */

.product-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-title {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 20px 10px 30px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #555;
  margin: 0px 25px 50px;
  width: 40vw;
}

.product-img {
  max-width: 100%;
  max-height: 50vh;
}

.product-comment {
  font-size: 16px;
  width: 90%;
  margin: 0px 10px 20px;
  font-size: 18px;
}

.product-comment > span {
  font-size: 10px;
}

.product-skill {
  font-size: 12px;
  margin: 0px 10px 20px;
}

.product-link {
  color: #00F;
  margin: 0px 10px 20px;

}
.product-link:hover {
  color: #F00;
  margin: 0px 10px 20px;

}
.product-link:visited {
  color: #609;
  margin: 0px 10px 20px;
}

/* ここまで作ったもの */

/* ここからチラシ詳細ページ */

.irrust-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.irrust-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #555;
  margin: 0px 20px 50px;
}

.irrust-img {
  max-width: 100%;
  max-height: 80vh;
}

.irrust-title {
  margin: 20px 0px;
}

.return {
  color: #00F;
  margin: 0px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.return:hover {
  color: #F00;
  margin: 0px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.return:visited {
  color: #609;
  margin: 0px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ここまでチラシ詳細ページ */

/* ここから問い合わせ */

.contact-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-comment {
  font-size: 21px;
  margin-bottom: 50px;
}

.contact-type {
  display: flex;
  justify-content: center;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 4vw 50px;
}

.contact-name {
  margin-top: 20px;
}

.contact-img {
  height: 100px;
}


/* ここまで問い合わせ */

/* ここからフッター */

footer {
  background-color: #555;
  color: #FFF;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-nav {
  display: flex;
  justify-content: center;
}

.footer-nav-item {
  font-family: 'arial black';
  font-size: 20px;
  padding: 10px 8px;
  margin: 3px 3px;
}

.copyright {
  display: flex;
  justify-content: center;
  padding: 12px 0px;
}